* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

em, i, cite {
    font-style: normal;
}

strong {
    font-weight: normal;
}

textarea:focus, input:focus{
    outline: none;
}

ul {
    list-style: none;
}